:root { 
--purple_100:#e1bee7; 
--white_A700_b2:#ffffffb2; 
--deep_purple_900:#311b92; 
--white_A700_1e:#ffffff1e; 
--blue_800:#193ccb; 
--blue_A700:#0050ff; 
--gray_800:#424242; 
--light_green_200:#d6bd96; 
--black_900_0f:#0000000f; 
--deep_purple_100:#d1c4e9; 
--black_900_a5:#000000a5; 
--black_900_43:#00000043; 
--white_A700_fc:#fffffffc; 
--black_900_cc:#000000cc; 
--black_900:#000000; 
--purple_A700:#a317e6; 
--deep_purple_A400:#651fff; 
--black_900_28:#00000028; 
--blue_gray_900:#303030; 
--purple_500:#9c27b0; 
--white_A700:#ffffff; 
--cyan_400:#1fb1d1; 
}